/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.col-md-6 {
  width: 50%;
}

img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.logo {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.wrapper {
  padding: 30px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-group input:focus {
  border-color: #008080;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #008080;
}

.signup-wrapper {
  margin-top: 20px;
  text-align: center;
}

.signup-wrapper a {
  color: #008080;
  text-decoration: none;
}

.signup-wrapper a:hover {
  text-decoration: underline;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .col-md-6 {
    width: 100%;
    padding: 0;
  }
.image-container {
    display: flex; /* Keep the flexbox if you want to center or align it */
    justify-content: center; /* Horizontally center the image */
    align-items: center;
    margin-top: 50px; /* Add margin to push the image down */
    width: 100%;
}


  .wrapper {
    padding: 20px;
  }
}
